@model IEnumerable<StocksPortfolio.Models.PortfolioDTO>
@{
    ViewData["Title"] = "Portfolio";
}

<div class="col-md-12" style="margin-top:-20px"><h2>Portfolio</h2><hr /></div>

<div class="portfolio">
    <table style="width:100%">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th></th>
            <th>Shares</th>
            <th>Bought Price</th>
            <th>Current Price</th>
            <th>Change</th>
            <th>Total</th>
        </tr>
        @{
            double total = 0;
        }
        @foreach (var stock in Model)
        {
            total += (stock.Quantity * stock.CurrentPrice);
            <tr>
                <td>@stock.Symbol</td>
                <td width=22%>@stock.Company</td>
                <td>
                    <a asp-controller="Home" asp-action="Buy" asp-route-id="@stock.Symbol" class="btn btn-default buy">
                        Buy
                    </a>
                    <a asp-controller="Home" asp-action="Sell" asp-route-id="@stock.Symbol" class="btn btn-default sell">Sell</a>
                </td>
                <td>@stock.Quantity</td>
                <td>$@stock.Price.ToString(stock.Price % 1 == 0 ? "N0" : "N2")</td>
                <td>$@stock.CurrentPrice.ToString(stock.CurrentPrice % 1 == 0 ? "N0" : "N2")</td>
                @if (stock.Change > 0)
                {
                    <td class="pos">@stock.Change.ToString(stock.Change % 1 == 0 ? "N0" : "N2")</td>
                }
                else if (stock.Change < 0)
                {
                    <td class="neg">@stock.Change.ToString(stock.Change % 1 == 0 ? "N0" : "N2")</td>
                }
                else
                {
                    <td><b>@stock.Change.ToString(stock.Change % 1 == 0 ? "N0" : "N2")</b></td>
                }
                <td>$@stock.Total.ToString(stock.Total % 1 == 0 ? "N0" : "N2")</td>
            </tr>
        }
    </table>
</div>
<br>
<div>
    @{var cash = double.Parse(ViewData["Cash"].ToString());        
    }
    <p>Current balance: <b>$@(cash.ToString("0.00"))</b></p>
    <p>Shares total: <b>$@total.ToString("0.00")</b></p>
    <p>Grand total: <b>$@((ViewBag.Cash + total).ToString("0.00"))</b></p>
</div>
