@model IEnumerable<StocksPortfolio.Models.PortfolioDTO>
@{
    ViewData["Title"] = "Portfolio";
}

<div class="col-md-12" style="margin-top:-20px"><h2>Portfolio</h2><hr /></div>

<div class="portfolio">
    <table style="width:100%">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th></th>
            <th>Shares</th>
            <th>Bought Price</th>
            <th>Current Price</th>
            <th>Change</th>
            <th>Total</th>
        </tr>
        @{
            double total = 0;
        }
        @foreach (var stock in Model)
        {
            total += (stock.Quantity * stock.CurrentPrice);
            <tr>
                <td>@stock.Symbol</td>
                <td width=22%><a asp-controller="Home" asp-action="QuoteReturn" asp-route-id="@stock.Symbol" >

                                  @stock.Company
</a></td>
                <td>
                    <a asp-controller="Home" asp-action="Buy" asp-route-id="@stock.Symbol" class="btn btn-default buy">
                        Buy
                    </a>
                    <a asp-controller="Home" asp-action="Sell" asp-route-id="@stock.Symbol" class="btn btn-default sell">Sell</a>
                </td>
                <td>@stock.Quantity</td>
                <td>$@stock.Price.ToString("N2")</td>
                <td>$@stock.CurrentPrice.ToString("N2")</td>
                @if (stock.Change > 0)
                {
                    <td class="pos">@stock.Change.ToString("N2")</td>
                }
                else if (stock.Change < 0)
                {
                    <td class="neg">@stock.Change.ToString("N2")</td>
                }
                else
                {
                    <td><b>@stock.Change.ToString("N2")</b></td>
                }
                <td>$@stock.Total.ToString("N2")</td>
            </tr>
        }
    </table>
</div>
<br>
<div>
    @{var cash = double.Parse(ViewData["Cash"].ToString());        
    }
    <p>Current balance: <b>$@(cash.ToString("N2"))</b></p>
    <p>Shares total: <b>$@total.ToString("N2")</b></p>
    <p>Grand total: <b>$@((ViewBag.Cash + total).ToString("N2"))</b></p>
</div>
